# Basic Data Types
There are 8 basic data types in Python programming language:
* Integers (int)
* Floating points (float)
* Strings (str)
* Lists (list)
* Tuples (tuple)
* Sets (set)
* Dictionaries (dict)
* Booleans (bool)

These data types can be assigned to variables. Python uses dynamic typing.

# Numbers
There are 2 main types of numbers in Python programming language: 
* Integers which are whole numbers
* Floating points which are numbers with a decimal point

Arithmetic operations can be done with numbers. The order of the operations is as in mathematics.

In [1]:
# Addition
2+3

5

In [2]:
# Subtraction
5-3

2

In [3]:
# Multiplication
2*5

10

In [4]:
# Division
5/2

2.5

In [5]:
# Floor division
5//2

2

In [6]:
# Modulo
5%2

1

In [7]:
# Power
2**3

8

In [8]:
# Root
4**0.5

2.0

In [9]:
# Absolute value
abs(-3.14)

3.14

In [10]:
# Round
round(3.1415926535,2)

3.14

In [11]:
# Variable assignment
investment = 1000

interest_rate = 0.1 

interest_earned = investment * interest_rate

interest_earned

100.0

In [12]:
# Reassign a variable
x = 10

x = x + 10
# x += 10

x

20

In [13]:
# Check the data type of a variable
type(x)

int

# Strings
Strings are ordered sequences of characters. They are immutable. Indexing and slicing are possible on strings.

In [14]:
# ÃŠxample
'Hello, my name is Bertan.'

'Hello, my name is Bertan.'

In [15]:
# Print a string
print('Hello, my name is Bertan.')
print('\n')
print('How are you doing?')

Hello, my name is Bertan.


How are you doing?

In [16]:
# Length of a string
len('Hello, my name is Bertan.')

25

###  Indexing and Slicing

In [17]:
# Variable assignment
string1 = 'Hello, my name is Bertan.'
string1

'Hello, my name is Bertan.'

In [18]:
# Grab the first term 
string1[0]

'H'

In [19]:
# Grab everything
string1[:]

'Hello, my name is Bertan.'

In [20]:
# Grab everything from the second term
string1[1:]

'ello, my name is Bertan.'

In [21]:
# Grab everything up to the fourth term
string1[:3]

'Hel'

In [22]:
# Grab everything between the seventh and the last term
string1[7:24]

'my name is Bertan'

In [23]:
# Grap the last term
string1[-1]

'.'

In [24]:
# Grab everything up to the last term
string1[:-1]

'Hello, my name is Bertan'

In [25]:
# Grab everything, but go in steps size of 1
string1[::1]

'Hello, my name is Bertan.'

In [26]:
# Grab everything, but go in step sizes of 2
string1[::2]

'Hlo ynm sBra.'

In [27]:
# Grab everything backwards
string1[::-1]

'.natreB si eman ym ,olleH'

### Properties and Formating

In [28]:
# Multiply a strig
letter = 'xox'
letter * 10

'xoxxoxxoxxoxxoxxoxxoxxoxxoxxox'

In [29]:
# Variable assignment
string2 = 'Hello, my name is Bertan.'

In [30]:
# Concatenate strings
string2 + ' What is your name?'

'Hello, my name is Bertan. What is your name?'

In [31]:
# Reassign strigs completely
string2 = string2 + ' What is your name?'
print(string2)

Hello, my name is Bertan. What is your name?

In [32]:
# Capitalize the first word in a string
string2.capitalize()

'Hello, my name is bertan. what is your name?'

In [33]:
# Upper case a string
string2.upper()

'HELLO, MY NAME IS BERTAN. WHAT IS YOUR NAME?'

In [34]:
# Lower case a string
string2.lower()

'hello, my name is bertan. what is your name?'

In [35]:
# To change a string requires reassignment
string2 = string2.lower()
string2

'hello, my name is bertan. what is your name?'

In [36]:
# Check if all cased characters in s are lowercase
string2.islower()

True

In [37]:
# The number of occurrences, without overlap
string2.count('e')

4

In [38]:
# The index of occurrences, without overlap
string2.find('e')

1

In [39]:
# Split a string
string2.split()

['hello,', 'my', 'name', 'is', 'bertan.', 'what', 'is', 'your', 'name?']

In [40]:
# Split by a specific element
string2.split('.')

['hello, my name is bertan', ' what is your name?']

In [41]:
# Partition by a specific element
string2.partition('.')

('hello, my name is bertan', '.', ' what is your name?')

In [42]:
# Format with the .format() 
print('My name is {}.'.format('Bertan'))
print('I am {y} years old, {h}cm, and {w}kg.'.format(y=28, h=195, w=105.5))
print('My real GPA: {0:12.6f}'.format(3.2158))
print('My official GPA: {0:1.2f}'.format(3.2158))

My name is Bertan.
I am 28 years old, 195cm, and 105.5kg.
My real GPA:     3.215800
My official GPA: 3.22

# Lists
Lists are ordered sequence of objects. They are mutable. They can hold a variety of object types. Indexing and slicing are possible on lists.

In [43]:
# Example
['Hello', 23, 'b', 13.1]

['Hello', 23, 'b', 13.1]

In [44]:
# Length of a list
len(['Hello', 23, 'b', 13.1])

4

###  Indexing and Slicing

In [45]:
# Variable sssignment
list1 = [1, 'two', 3, 'four', 5]
list1

[1, 'two', 3, 'four', 5]

In [46]:
# Grab the first term 
list1[0]

1

In [47]:
# Grab everything
list1[:]

[1, 'two', 3, 'four', 5]

In [48]:
# Grab everything from the second term
list1[1:]

['two', 3, 'four', 5]

In [49]:
# Grab everything up to the fourth term
list1[:3]

[1, 'two', 3]

In [50]:
# Grab everything between the first and the last term
list1[1:4]

['two', 3, 'four']

In [51]:
# Grap the last term
list1[-1]

5

In [52]:
# Grab everything up to the last term
list1[:-1]

[1, 'two', 3, 'four']

In [53]:
# Grab everything, but go in steps size of 1
list1[::1]

[1, 'two', 3, 'four', 5]

In [54]:
# Grab everything, but go in step sizes of 2
list1[::2]

[1, 3, 5]

In [55]:
# Grab everything backwards
list1[::-1]

[5, 'four', 3, 'two', 1]

### Properties and Methods

In [56]:
# Concatenate lists
list1 + ['new item']

[1, 'two', 3, 'four', 5, 'new item']

In [57]:
# Reassign list completely
list1 = list1 + ['permanent new item ']
list1

[1, 'two', 3, 'four', 5, 'permanent new item ']

In [58]:
# Make the list double
list1 * 2

[1,
 'two',
 3,
 'four',
 5,
 'permanent new item ',
 1,
 'two',
 3,
 'four',
 5,
 'permanent new item ']

In [59]:
# To change a list requires reassignment
list1 = list1 * 2
list1

[1,
 'two',
 3,
 'four',
 5,
 'permanent new item ',
 1,
 'two',
 3,
 'four',
 5,
 'permanent new item ']

In [60]:
# Variable assignment
list2 = [1, 2, 3, 4, 5]
list2

[1, 2, 3, 4, 5]

In [61]:
# Append
list2.append(6)
list2

[1, 2, 3, 4, 5, 6]

In [62]:
# Extent
list2.extend([7, 8])
list2

[1, 2, 3, 4, 5, 6, 7, 8]

In [63]:
# Insert
list2.insert(2, 3)
list2

[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [64]:
# Count
list2.count(3)

2

In [65]:
# Pop
popped_item = list2.pop(0)
popped_item

1

In [66]:
# Remove
list2.remove(3)
list2

[2, 3, 4, 5, 6, 7, 8]

In [67]:
# Index
list2.index(3)

1

In [68]:
# Reverse
list2.reverse()
list2

[8, 7, 6, 5, 4, 3, 2]

In [69]:
# Sort
list2.sort()
list2

[2, 3, 4, 5, 6, 7, 8]

In [70]:
# Clear
list2.clear()
list2

[]

In [71]:
# Copy
list3 = [1,2,3]
list4 = list3.copy()
list4.append(4)

print(list3)
print(list4)

[1, 2, 3]
[1, 2, 3, 4]

### Nesting Lists

In [72]:
# Make a list of lists to form a matrix
list_1=[1,2,3]
list_2=[4,5,6]
list_3=[7,8,9]

matrix = [list_1,list_2,list_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [73]:
# Grab first item
matrix[0]

[1, 2, 3]

In [74]:
# Grab second item of the second item
matrix[1][1]

5

# Tuples
Tuples are ordered sequence of objects. They are immutable. They can hold a variety of object types. Indexing and slicing are possible on lists. Indexing and slicing are the same as in lists but properties and methods vary because of the immutability feature.

In [75]:
# Example
('Hello', 23, 'b', 13.1)

('Hello', 23, 'b', 13.1)

In [76]:
# Length of a tuple
len(('Hello', 23, 'b', 13.1))

4

In [77]:
# Variable assignment
tup1 = (1, 2, 3, 4, 5)
tup1

(1, 2, 3, 4, 5)

In [78]:
# Indexing and slicing
tup1[2:4]

(3, 4)

In [79]:
# Count
tup1.count(3)

1

In [80]:
# Index
tup1.index(3)

2

In [81]:
# Mutable vs. immutable
list5 = [1, 2, 3]
print(list5)

list5[1] = 200
list5.append(4)

print(list5)
print("These kinds of operations are not possible on tuples!")

[1, 2, 3]
[1, 200, 3, 4]
These kinds of operations are not possible on tuples!

# Sets
Sets are unordered collection of unique objects.

In [82]:
# Example
{'Hello', 23, 'b', 13.1}

{13.1, 23, 'Hello', 'b'}

In [83]:
# Length of a set
len({'Hello', 23, 'b', 13.1})

4

In [84]:
# Variable assignment
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 6, 7}
set2

{1, 2, 3, 6, 7}

In [85]:
# Add
set1.add(0)
set1

{0, 1, 2, 3, 4, 5}

In [86]:
# Discard
set1.discard(0)
set1

{1, 2, 3, 4, 5}

In [87]:
# Difference
set1.difference(set2)

{4, 5}

In [88]:
# Symmetric difference
set1.symmetric_difference(set2)

{4, 5, 6, 7}

In [89]:
# Intersection
set1.intersection(set2)

{1, 2, 3}

In [90]:
# Union
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [91]:
# Update
set2.update(set1)
set2

{1, 2, 3, 4, 5, 6, 7}

In [92]:
# Pop
popped_item = set2.pop()
popped_item

1

In [93]:
# Remove
set2.remove(7)
set2

{2, 3, 4, 5, 6}

In [94]:
# Copy
set3 = set1.copy()
set3.add(0)
set3

{0, 1, 2, 3, 4, 5}

In [95]:
# Check disjoint
set1.isdisjoint(set3)

False

In [96]:
# Check subset
set1.issubset(set3)

True

In [97]:
# Check superset
set1.issuperset(set3)

False

In [98]:
# Clear
set3.clear()
set3

set()

# Dictionaries
Dictionaries are unordered key:value pairs.

In [99]:
# Example
{'key1':'Hello', 'key2':23, 'key3':'b', 'key4':13.1, 'key5':[1, 2, 3], 'key6':(1, 2, 3), 'key7':{1, 2, 3}}

{'key1': 'Hello',
 'key2': 23,
 'key3': 'b',
 'key4': 13.1,
 'key5': [1, 2, 3],
 'key6': (1, 2, 3),
 'key7': {1, 2, 3}}

In [100]:
# Length of a dictionary
len({'key1':'Hello', 'key2':23, 'key3':'b', 'key4':13.1, 'key5':[1, 2, 3], 'key6':(1, 2, 3), 'key7':{1, 2, 3}})

7

In [101]:
# Variable assignment
dict1 = {'key1':123, 'key2':[1, 2, 3], 'key3':'Hello'}

In [102]:
# Grab an item
dict1['key1']

123

In [103]:
# Grab the value of an item
dict1['key2'][0]

1

In [104]:
# Affect an value
dict1['key1'] = dict1['key1'] - 23
dict1['key1']

100

In [105]:
# Call a method on a value
dict1['key3'].upper()

'HELLO'

In [106]:
# Add a key-value pair
dict1['key4'] = (1, 2, 3)
dict1

{'key1': 100, 'key2': [1, 2, 3], 'key3': 'Hello', 'key4': (1, 2, 3)}

In [107]:
# Keys
dict1.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [108]:
# Values
dict1.values()

dict_values([100, [1, 2, 3], 'Hello', (1, 2, 3)])

In [109]:
# Items
dict1.items()

dict_items([('key1', 100), ('key2', [1, 2, 3]), ('key3', 'Hello'), ('key4', (1, 2, 3))])

In [110]:
# Get
gotten_item = dict1.get('key1')
print(gotten_item)

100

In [111]:
# Pop
popped_item = dict1.pop('key4')
popped_item

(1, 2, 3)

In [112]:
# Popitem
popped_item = dict1.popitem()
popped_item

('key3', 'Hello')

In [113]:
# Copy
dict2 = {'key1':1, 'key2':2, 'key3':3}
dict3 = dict2.copy()
dict3['key4'] = 4

print(dict2)
print(dict3)

{'key1': 1, 'key2': 2, 'key3': 3}
{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [114]:
# Clear
dict3.clear()
dict3

{}

In [115]:
# Nesting dictionaries
dict4 = {'key1':{'subkey':{'subsubkey':'Value'}}}
dict4['key1']['subkey']['subsubkey']

'Value'

# Booleans
Logical value indicating True or False. There are comparison operations that compare variables and output a Boolean value.

In [116]:
# Example
True

True

In [117]:
# Variable assignment
bool1 = False
bool1

False

In [118]:
# None placeholder
x = None
print(x)

None

### Comparison Operators

In [119]:
# Equal
2 == 3

False

In [120]:
# Not equal
2 != 3

True

In [121]:
# Greater than
2 > 3

False

In [122]:
# Less than
2 < 3

True

In [123]:
# Greater than or equal to
2 >= 2

True

In [124]:
# Less than or equal to
2 <= 3

True

In [125]:
# Chained comparison with and
1==2 and 2<3

False

In [126]:
# Chained comparison with or
1==2 or 2<3

True